.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #1e1e2a;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}